# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# Results (optional)
results/structures/
results/reports/
results/plots/

# Logs
*.log