# macOS
.DS_Store

# Python
__pycache__/
*.pyc
temp_backup/
# VS Code
.vscode/
*.code-workspace

# Editor backup files
#*#

# Molecular dynamics
*.xtc
*.trr
*.edr
*.cpt
*.log

# Generated structures
*.gro

# Videos
*.mov
*.mp4

# Archives
*.tar
*.tgz